body {
    font-family: sans-serif;
    text-align: center;
    background: #f4fff4;
    padding: 20px;
  }
  
  h1 {
    color: green;
  }
  
  input, select, button {
    font-size: 18px;
    padding: 8px;
    margin: 5px;
  }
  
  button {
    cursor: pointer;
  }
  
  li {
    list-style: none;
    background: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
  }